.container {
  width: 100vw;
  height: 100%;
  background-color: rgb(180, 216, 240);
  .main {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .loginContainer {
      display: flex;
      width: 40vw;
      height: 70vh;
      border-radius: 10px;
      border: 1px solid wheat;
      justify-content: center;
      align-items: center;
      background-color: white;
      flex-direction: column;
      .titleLogin {
        height: 10vh;
        font-size: 5vh;
      }
      .loginForm {
        height: 26vh;
        width: 30vw;
        justify-content: center;
        align-items: center;
        .input {
          display: flex;
          width: 30vw;
          flex-direction: column;
          .textInput {
            height: 6vh;
            margin-bottom: 2vh;
            padding: 2vh 1vw;
          }
        }
        .bottomForm {
          .button {
            width: 30vw;
            background-color: rgb(139, 139, 224);
            padding: 1.5vh 0;
            border: none;
            border-radius: 5px;
            margin-bottom: 2vh;
            .loginText {
              color: white;
              font-size: 2.5vh;
            }
          }
        }
      }
      .Facebook {
        width: 30vw;
        background-color: rgb(57, 57, 230);
        padding: 1.5vh 0;
        border: none;
        border-radius: 5px;
        margin-bottom: 2vh;
        .loginText {
          color: white;
          font-size: 2.5vh;
        }
      }
      .GitHub {
        width: 30vw;
        background-color: rgb(49, 49, 49);
        padding: 1.5vh 0;
        border: none;
        border-radius: 5px;
        margin-bottom: 2vh;
        .loginText {
          color: white;
          font-size: 2.5vh;
        }
      }
      .register {
        .registerText {
          font-size: 2.5vh;
        }
      }
    }
  }
}
